<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOREST TEMPLATE</title>
    <link rel="stylesheet" href="../static/css/FOREST.CSS">
</head>

<body>
    <div id="navbar-container">
        <div id="logo-container">
            <div id="logo">
                <img src="../static/Image/navlogo.png" alt="" srcset="">
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Roads</a></li>
                <li><a href="#">Mountains</a></li>
                <li><a href="#">Hotsprings</a></li>
            </ul>
        </div>
        <div id="nav-left-side">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><button></button></li>
            </ul>
        </div>
    </div>
    <section id="home-container">
        <div id="first-half">
            <div id="scroll-down-text">
                <div id="rotate">
                    <== &nbsp &nbsp Scroll down to read more </div>
                </div>
                <div id="text-area">

                    <div id="middle-text-area">
                        <div id="para1">
                            <p>RING<br> ROAD</p>
                        </div>
                        <div id="para2">
                            <p>the ring road is a national road in iceland that runs around the island and connects most
                                of
                                the
                                inhabited parts of the country.The total length of the road is 1,332 kilometres (828 mi)
                            </p>
                        </div>
                    </div>
                    <div id="bottom-text-area">
                        <div class="bottom-text">
                            <p class="p1">sideseeing on te route</p>
                            <p class="p2">The seljalandsfosswaterfalls</p>
                        </div>
                        <div class="bottom-text">
                            <p class="p1">Completed</p>
                            <p class="p2">Finished in 1974</p>
                        </div>
                        <div class="bottom-text">
                            <p class="p1">Total span of the road</p>
                            <p class="p2">The road circles all of iceland</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="second-half">
                <div>
                    <p id="p1">RECOMMENDATIONS</p>
                </div>
                <div>
                    <P id="underpara1">Warmth in the winter</P>
                    <P id="underpara2">Visit the capital</P>
                </div>
                <div>
                    <P id="underpara1">Visit a hotspring and go swimming</P>
                    <P id="underpara2">Greater Reykjavik is really nice</P>
                </div>
                <div id="bottom">
                    <img src="../static/Image/recommend.jpg" alt="">
                    <p id="udp1">Plane crash wreck</p>
                    <p id="udp2">Take a look at the place wreck</p>
                </div>
            </div>
    </section>
    <footer id="footer">
All rights reserved | © Copyright | Yash Enterprises LTD
    </footer>
</body>

</html>